 body{
  margin: 0;
  
}
.h1{
  font-size: 5em;
  background: -webkit-linear-gradient(#ffffff, #041470);
  -webkit-background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  font-family: 'Times New Roman', Times, serif;
}
main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} 

.bgHeader{
  background: linear-gradient(to right, #3e5f7a, #151c31);
}

:root {
  --surface-color: #fff;
  --curve: 40;

}

* {
  box-sizing: border-box;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.card__image {      
  width: 100%;
  height: 500px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__text {
  font-size: 1.3em;
}


.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  color: #7e6e76;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  font-size: 1.4em;
  color: #221d1f;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.active > a {
    color: rgb(255, 255, 255) !Important;
    background-image: linear-gradient(to right, #3e5f7a, #040508) !Important;
}

.active > a:hover
{
  background-color: #b89b75 !Important;
}
