header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(212, 209, 209, 0.171);
  background-image: linear-gradient(to right, #3e5f7a, #040508);
  z-index: 1;
  font-family: 'Times New Roman', Times, serif;
}
.headerTitle{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
  display: flex;
  margin-left: 20px;
}
.titleBlock{
  display: flex;
  justify-content: space-between;
}
.image{
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
nav{
  flex: 3;
}
.link, .social{
  display: flex;
  justify-content: space-evenly;
}
.liNav, .social{
  list-style: none;
  font-size: 1.2em;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: bisque;
}
.buttonBlock{
  display: flex;
  align-items: center;
  margin-right: 2em;
  display: none;
}
.listSocial{
  flex: 1;
}
button{
  background-image: linear-gradient(to right, #5f707e, #040508);
}


@media only screen and (max-width: 800px) {
  header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .buttonBlock{
    display: block;
  }
  .link{
    display: flex;
    flex-direction: column;
  }
  .liNav{
    font-size: 2.5rem;
  }
  nav{
    text-align: center;
    width: 100%;
  }
  .social{
    display: none;
  }
  .titleBlock{
    width: 100%;
  }
}
